@import '../common/styles/variables';
@import '../common/styles/mixins';

.myProjectsBlock {
  background-color: $bgColor2;

  .myProjectsBlockContainer {

    @include container();
    @include flex(column,flex-start,center);

    .projects {
      border: 1px solid;
      width: 100%;
      @include flex(row,space-around,flex-start);
      margin-top: 30px;
    }
  }
}




