@import '../common/styles/variables';
@import '../common/styles/mixins';

.ContactsBlock {
  background-color: $bgColor2;

  .ContactsBlockContainer {
    @include container();

    @include flex(column, flex-start, center);

    .form {
      @include flex(column, flex-start, stretch);
      width: 540px;
      margin-top: 60px;
      @media screen and (max-width: 680px) {
        width: 100%;
      }
      .formArea,.textArea{
        margin-bottom: 30px !important;
        width: 100%;
        background:$bgColor1;
        border: 1px solid $textColorSecondary;
        border-radius: 10px;
        background: transparent;
        padding: 15px;
        transition: all .4s;
        box-sizing: border-box;
        resize: vertical;
        @include title(1.5,$textColorSecondary,400,16px);
        outline-color:$textColorSecondary;

      }
      .link {
        @include flex(column, flex-start, center);
        margin-top: 3%;
        margin-bottom: 3%;
      }

      .error{
        color:rgba(250,43,21,0.99);
      }
    }
  }
}


