@import '../common/styles/variables';
@import '../common/styles/mixins';

.ContactsBlock {
  background-color: $bgColor2;

  .ContactsBlockContainer {
    @include container();

    @include flex(column,space-around,center);

    .text {
      @include title(1.5,$textColorPrimary,500,20px);
      margin-bottom: 15px !important;
    }

    .form {
      width: 50%;
      display: flex;
      flex-direction: column;

      .input, .textarea {
        width: 100%
      }
    }
    .button{
      margin-top:3%;
      margin-bottom: 3%;
    }
  }
}


