@import '../../common/styles/variables';

@mixin title($lineHeight,$color,$fontWeight,$fontSize){
  line-height: $lineHeight;
  color: $color;
  font-weight: $fontWeight;
  font-size: $fontSize;
  font-family: $fontFamily;
}

@mixin button($lineHeight,$color,$fontWeight,$fontSize) {
  line-height: $lineHeight;
  color: $color;
  font-weight: $fontWeight;
  font-size: $fontSize;
  font-family: $fontFamily;
  border: 1px solid black;
  padding:5px;
}



@mixin container(){
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}

@mixin flex($flexDirection,$justifyContent,$alignItems){
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: wrap;
}

@mixin bgSettings(){
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat ;
}