@import '../../common/styles/variables';
@import '../../common/styles/mixins';

.skill {
  text-align: center;
  margin-bottom:10px;
  margin-top: 30px;
  width: 350px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: $bgColor1;
  @include flex(column,flex-start,center);
  .icon {
    margin-top:10px;
    height: 80px;
    width: 80px;
    background-color: $bgColor1;
    background-size: contain;
    background-repeat:no-repeat;
  }

  .skillInfo {
    padding: 60px 40px;

    .skillTitle {
      @include title(1.5,$textColorPrimary,500,20px);
      margin-bottom: 15px !important;
    }

    .description {
      @include title(1.8,$textColorSecondary,300,16px);
      margin: 0;
    }
  }

}