@import '../../../common/styles/variables';
.title {
  font-family: 'Sora', sans-serif;
  line-height: 1.3;
  font-size: 30px;
  color: $textColorPrimary;
  position: relative;

  .title h2 {
    margin: 0 0 30px;
    font-weight: 450;
  }

  &::before {
    position: absolute;
    content: '';
    width: 55px;
    height: 1px;
    background-color: $primaryColor;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
