@import '../../../common/styles/variables';
@import '../../../common/styles/mixins';


.title  {
  @include title(1.3,$textColorPrimary,200,30px);
  position: relative;

  .title h2 {
    margin: 0 0 30px;
  }

  &::before {
    position: absolute;
    content: '';
    width: 55px;
    height: 1px;
    background-color: $primaryColor;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
