@import '../../common/styles/variables';
@import '../../common/styles/mixins';

.myProject {
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: $bgColor1;
  @include flex(column,flex-start,center);
  text-align: center;

  .image {
    height: 300px;
    width: 400px;
    background-image: url("https://phonoteka.org/uploads/posts/2022-01/1642989074_1-phonoteka-org-p-krasnaya-kartinka-fon-1.jpg");
    @include bgSettings();
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-color: $primaryColor;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.2;
    }

    .title {
      margin-top: 35%;
      position: relative;
      z-index: 1;
    }
  }

  .myProjectInfo {
    padding: 15px 40px;

    .myProjectTitle {
      @include title(1.5,$textColorPrimary,500,20px);
      margin-bottom: 15px !important;
    }

    .description {
      @include title(1.8,$textColorSecondary,300,16px);
      margin: 0;

    }
  }
  .button{
    margin-top: 40%;
    position: relative;
  }
}








