.myProject {
    margin-top:30px;
    width:400px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f1f3f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image {
    height:300px;
    width:400px;
    background-image: url("https://phonoteka.org/uploads/posts/2022-01/1642989074_1-phonoteka-org-p-krasnaya-kartinka-fon-1.jpg");
    background-size: cover;
    background-position: center;
}

.myProjectTitle{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    font-family: 'Sora', sans-serif;
    color: #1d1d1d;
    margin-bottom: 15px !important;
}

.myProjectInfo{
    padding: 15px 40px;
}

.description {
    line-height: 1.8;
    font-size: 16px;
    font-weight: 300;
    color: #696969;
    margin: 0;
    font-family: 'Sora', sans-serif;
}

.button {
   margin-top:35%;
}