.toHireBlock {
    height: 50vh;
    background-color: #96ffed;
}

.toHireBlockContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


