@import '../common/styles/variables';
@import '../common/styles/mixins';

.skillBlock {
  background-color: $bgColor1;

  .skillBlockContainer {
    @include container();
    justify-content: center;

    .skills {
      width: 100%;
      @include flex(row, space-between, flex-start);
      margin-top: 30px;
      @media screen and (max-width: 1320px) {
        justify-content: center;
      }
    }
  }
}