.skillBlock {
   min-height: 100vh;
    background-color: #39ece1;
}

.skillBlockContainer {
    justify-content: center;
}
.skills {
    border: 1px solid;
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}