.skillBlock {
    background-color: #f1f3f5;
}

.skillBlockContainer {
    justify-content: center;
}

.title {
    font-family: 'Sora', sans-serif;
    line-height: 1.3;
    font-size: 36px;
    color: #1d1d1d;
    position: relative;
}

.title h2 {
    margin: 0 0 30px;
    font-weight: 450;
}

.title::before {
    position:absolute;
    content: '';
    width: 55px;
    height: 1px;
    background-color: #1d1d1d;
    bottom: 25px;
    left:50%;
    transform: translate(-50%, 50%);
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1320px) {
    .skills {
        justify-content: center;
    }
}