@import '../../../common/styles/variables';
@import '../../../common/styles/mixins';




.tag{
  @include button(1.3, $textColorPrimary, 550, 14px);
  padding: 7px 20px;
  border-radius: 30px;
  background: #fff;
  color: #000;
  font-size: 13px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  text-decoration:none;
  opacity:1;
}
