@import '../common/styles/variables';
@import '../common/styles/mixins';

.nav {

  border: 1px solid;
  width: 500px;
  display: flex;
  justify-content: space-around;

  .text {
    @include title(1.5, $textColorPrimary, 400, 16px);
    text-decoration: none;
  }
}
