@import '../common/styles/variables';
@import '../common/styles/mixins';

.FooterBlock {
  height: 50vh;
  background-color: $bgColor1;

  .FooterBlockContainer {
    @include container();
    @include flex(column,space-around,center);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .text {
      @include title(1.5, $textColorPrimary, 500, 20px);
      margin-bottom: 15px !important;
    }

    .icons {
      width: 50%;
      @include flex(row,space-around,center);

      .icon {
        height: 60px;
        width: 60px;
      }
    }

    .description {
      @include title(1.5, $textColorPrimary, 500, 15px);
      margin-bottom: 15px !important;
    }
  }
}



